:root{
    --fundo: #FFE4C4;
    --cor-texto:#000000;
    --frente-cartao:#0095ff;
    --verso-cartao: #46eded;
}

body{
    background-color: var(--fundo);
}

.cartao__conteudo(
    background:var(--frente-cartao);
    text-align:center;
)

.cartao__conteudo h3(
    color:var(--cor-texto);
)